body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}
.top-20 {
  margin-top: 20px;
}
.bottom-20 {
  margin-bottom: 20px;
}
.right-20 {
  margin-right: 20px;
}
.vertical-center {
  vertical-align: middle;
}
.thumbnail h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}